.*
!.gitignore
!.editorconfig
*~
\#*\#
.\#
*.backup
*.bak
*.pyc
*.kdev4
*.projectile
*.iml
GPATH
GRTAGS
GTAGS
tags
Thumbs.db
Build
Config/Images
Config/Logs
Config/Scenes/Includes/connect.con
Config/Scenes/Includes/replay.con
Config/SimulatedImageSave/*
Config/Statistics
Make/Hooks/gitpath
Make/Linux/compile_commands.json
Make/Linux/Nao-objects.tmp
Make/Linux/libbhuman-objects.tmp
Make/Linux/libgamectrl-objects.tmp
Make/LinuxCMake/cmake-build-*
Make/LinuxCodeLite/*.project
Make/LinuxCodeLite/*.tags
Make/LinuxCodeLite/*.workspace*
Make/LinuxNetBeans/B-Human/*/
Make/VS20*/.vs
Make/VS20*/*.sln
Make/VS20*/*.vcxproj
Make/VS20*/*.vcxproj.filters
Make/VS20*/*.vcxproj.user
Make/macOS/B-Human.xcodeproj/project.pbxproj
Make/macOS/B-Human.xcodeproj/project.xcworkspace
Make/macOS/B-Human.xcodeproj/xcuserdata
Make/macOS/copyfiles-options.txt
Make/NetBeans/*/
Util/Buildchain/macOS/lib
Util/GameController/Config/TCM.cfg
Util/GameController/error.txt
Util/GameController/logs/
Util/GameController/logs_teamcomm/
Util/Proto/*.class
Util/Proto/*.ctxt
Util/WSL
