Build
Config/Logs
Make/LinuxCodeLite/*.project
Make/LinuxCodeLite/*.tags
Make/LinuxCodeLite/*.workspace*
Make/LinuxCodeLite/.*
Make/VS2015/.vs
Make/VS2015/obj
Make/VS2015/*.filters
Make/VS2015/*.*sdf
Make/VS2015/*.sln
Make/VS2015/*.suo
Make/VS2015/*.vcxproj
Make/VS2015/*.vcxproj.user
Make/VS2015/*.VC.opendb
Make/VS2015/ipch
Make/macOS/B-Human.xcodeproj/project.pbxproj
Make/macOS/B-Human.xcodeproj/project.xcworkspace
Make/macOS/B-Human.xcodeproj/xcuserdata
Make/macOS/copyfiles-options.txt
Make/NetBeans/*/
Util/GameController/error.txt
Util/GameController/logs/
Util/GameController/logs_teamcomm/
Util/alcommon/
Util/boost
