.*
!.gitignore
!.editorconfig
*~
\#*\#
.\#
*.backup
*.bak
*.pyc
*.kdev4
*.projectile
*.iml
GPATH
GRTAGS
GTAGS
tags
Thumbs.db
/Build
/Config/Images
/Config/Scenes/Includes/connect.con
/Config/Scenes/Includes/replay.con
/Make/Hooks/gitpath
!/Make/Linux/.idea
/Make/Linux/.idea/*
!/Make/Linux/.idea/misc.xml
!/Make/Linux/.idea/codeStyles
!/Make/Linux/.idea/fileTemplates
/Make/Linux/.idea/fileTemplates/includes/Set Author.
/Make/VS20*/*.sln
/Make/macOS/B-Human.xcodeproj
/Make/Common/deploy-options.txt
/Util/Buildchain/macOS/bin/cmake
/Util/Buildchain/macOS/include
/Util/Buildchain/macOS/lib
/Util/WSL
