<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>An empty module.</string>
	<key>Summary</key>
	<string>An empty module.</string>
	<key>SortOrder</key>
	<string>34</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.c-plus-plus-source</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>File</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.cpp</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Module Name:</string>
			<key>Description</key>
			<string>The name of the module to create</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>category</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Category:</string>
			<key>Description</key>
			<string>The category of the module to create</string>
			<key>Type</key>
			<string>popup</string>
			<key>NotPersisted</key>
			<true/>
			<key>Values</key>
			<array>
				<string>infrastructure</string>
				<string>perception</string>
				<string>communication</string>
				<string>modeling</string>
				<string>behaviorControl</string>
				<string>sensing</string>
				<string>motionControl</string>
			</array>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>representation</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Provides:</string>
			<key>Description</key>
			<string>The representation that is provided by the module to create</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
