[Unit]
Description=ALSA kludge
After=sound.target
Requires=sound.target
Before=bhuman.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/nao/bin/setvolume

[Install]
WantedBy=default.target
