[Unit]
Description=B-Human LAN network configuration
After=dbus.service network-pre.target
Before=network.target multi-user.target
Wants=network.target
Conflicts=connman.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/ifconfig eth0 192.168.%teamID%.%robotPart% netmask 255.255.0.0
ExecStart=/sbin/ifconfig eth0 up
ExecStop=/sbin/ifconfig eth0 down

[Install]
WantedBy=multi-user.target
