Build
Make/macOS/SimRobot.xcodeproj/project.xcworkspace
Make/macOS/SimRobot.xcodeproj/xcuserdata
Make/LinuxCMake/cmake-build-*
Make/LinuxCodeLite/*.project
Make/LinuxCodeLite/*.tags
Make/LinuxCodeLite/*.workspace*
Make/VS20*/.vs
Make/VS20*/*.sln
Make/VS20*/*.vcxproj
Make/VS20*/*.vcxproj.filters
Make/VS20*/*.vcxproj.user
Util/qt/macOS/bin/qt.conf
