Build
Make/OSX/SimRobot.xcodeproj/project.xcworkspace
Make/OSX/SimRobot.xcodeproj/xcuserdata
Util/qt/OSX/bin/qt.conf
Make/VS2015/*.filters
Make/VS2015/*.*sdf
Make/VS2015/*.sln
Make/VS2015/*.suo
Make/VS2015/*.vcxproj
Make/VS2015/*.vcxproj.user
Make/VS2015/ipch
